body {
    font-family: 'Alegreya', serif;
    font-size: 1.2em;
    line-height: 1.8em;
}

header {
    background: center center url('../img/header-background.jpg');
    background-size: cover;
    height: 80vh;
    text-align: center
}

header img {
    padding-top: 5em;
}

.intro {
    padding: 5em 0 0;
    max-width: 30em;
    margin: 0 auto
}

.three-features {
    max-width: 40em;
    margin: 0 auto
}

.feature {
    width: 33%;
    float: left;
    padding: 2em;
    line-height: 1.4em;
    text-align: center;
}

@media (max-width: 600px) {
    header {
        background: center center url('../img/header-background-mobile.jpg');
        background-size: cover;
        height: 80vh;
        text-align: center
    }
    header img {
        width: 80%;
        padding-top: 2em;
    }

    .intro {
        padding: 1em;
        max-width: 30em;
        margin: 0 auto
    }

    .feature {
        clear: both;
        width: 100%;
    }
}





.feature svg {
    max-height: 3em;
    text-align: center;
}
